
html {
	background-color:#252525;
	padding:0;
	margin:0;
	color:white;
}
body{
	padding:0;
	margin:0;
}
#logo{
	border:2px solid white;
	color:white;
	float:left;
	padding: 5px;
	margin:2vh 0 2vh 2vh;
}
header>ul{
	background-color:#252525;
	float:right;
}
header>ul>li{
	color:white;
	padding:5px;
	margin:2px;
	list-style-type: none;
	float:right;
	font-family:Verdana;
}
a{
	text-decoration: none;
	color:white;
}
header>ul>li>a:hover{
	color:green;
}
header>ul>li>a:selected{
	color:#00cc00
}
header{
	border-bottom: white 2px solid;
	background-color:#252525;
	padding-right:1vw;
}
#titre {
	background-color:#F5DEB3;
	text-align:center;
	color:white;
	background-image:url("freeimages-wheat-field-1323294.jpg");
	background-repeat:no-repeat;
	background-color:#F5DEB3;
	background-position:center;
}
#titre>h1 {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;      
	margin-top: 40vh; /* poussé de la moitié de hauteur de viewport */
  	transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
  	text-shadow: 2px 2px #252525;
}
.main {
	height:83vh;
	background:#00cc00;
	margin:0;
	padding:0;
	color:white;
}
.main>h1{
	margin-top: 0px;
	padding-top: 0px;
	text-align: center;
}
#BDDP>h2{
	text-align: center;
}
main>div>a {
	color:#00cc00
}
.clear{
	clear:both;
}
